.waper {
    width: 1226px;
    margin: auto;
}

body {
    background-color: #f5f5f5;
}

.color-white {
    background-color: #fff;
}

.overflow {
    white-space: nowrap;
    /* 禁止换行 */
    overflow: hidden;
    /* 隐藏超出部分 */
    text-overflow: ellipsis;
}