/* 顶部样式 */
.top-navigation{
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;
    background-color: #333;
}

.topbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.topbar-nav{
    display: flex;
    color: #b0b0b0;
}

.topbar-nav > li{
    line-height: 40px;
}

/* 为了继承父亲的高度 */
li>a{
    display: inline-block;
}

li>a:hover{
    color: #fff;
}

.sep{
    margin:0 8px;
    color: #424242;
}

.tobar-cart{
    display: flex;
    justify-content: space-between;
}

.topbar-info{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    margin-left: 15px;
    background-color: #424242;
}

.cart:hover{
    color: #ff6700;
}

.cart>a{
    display: inline-block;
    width: 86px;
    height: 100%;
}



.icon-xiaomigouwuche{
    margin: 0 4px 0 10px;
    font-size: 20px;
}
/* 顶部样式结束 */

/* 头部样式开始 */

.header{
    background-color: #fff;
    height: 100px;
}

.content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
}



 .logo{
    width: 56px;
}

.logo img{
    width: 100%;
}

.content ul{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px;
    height: 100%;
}

.content ul li{
    padding:26px 10px 26px;
}

.content ul>li a:hover{
    color: #ff6700;
}

.search{
    position: relative;
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
}

.search>input{
    width: 230px;
    height: 100%;
    padding: 0;
    border: 0;
    padding-left: 15px;
}

.search >.icon-sousuo{
    display: inline-block;
    width: 50px;
    height: 48px;
    font-size: 20px;
    color: #616161;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 50px;
    cursor:pointer;
}

.search-icon{
    position: absolute;
}
/* 头部样式结束 */

/* 内容样式开始 */
.container {
    padding-bottom: 26px;
}
.main-content-banner{
    position: relative;
    width: 100%;
    background-image: url("../img/1.webp");
}

.category-item{
    height: 460px;
}

.category-item ul{
    width: 234px;
    background-color: rgba(105,101,101,.6);
    font-size: 14px;
    color: #fff;
    padding: 20px 0;
}

.category-item ul>li{
    height: 42px;
    line-height: 42px;
}

.category-item ul>li a{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 20px;
    box-sizing: border-box;
}

.category-item ul>li a:hover{
    background-color: #ff6700;
}

.public-position{
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    cursor: pointer;
}

.public-position:hover{
    background-color: #333;
}

.swiper-button-prev{
    position: absolute;
    right: 0;
    background: url(../img/icon-slides.png) no-repeat -125px 50%;
}

.swiper-button-next{
    position: absolute;
    left: 234px;
    background: url(../img/icon-slides.png) no-repeat -84px 50%;
}

.pagination{
    position: absolute;
    left: auto;
    right: 30px;
    bottom: 20px;
    font-size: 0;
}

.bullet{
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid #999999;  
    background:#fff;
    border-radius: 100%;
    margin: 0 4px;
}

.bullet:first-child{
    background-color: #999999;
}

.home-hero-sub{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.span4{
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    height: 170px;
    font-size: 12px;
    background-color: #5f5750;
}

.channel-list{
    position: relative;
    width: 76px;
    height: 82px;
    text-align: center;
}

/* 给每个列表添加一个边框 */
.channel-list:after,.channel-list:before{
    position: absolute;
    content: "";
    background-color: #665e57;
}

.channel-list:after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.channel-list:before{
    left: 6px;
    width: 64px;
    height: 1px;
}

.channel-list>a{
    display: inline-block;
    padding-top:18px;
    color: #fff;
    opacity:0.7;
}

.channel-img img{
    margin: 0 auto 4px;
    width: 24px;
}

.promo-list{
    display: flex;
    margin-left: 14px;
}

.promo-img{
    width: 316px;
}

.promo-img img{
    width: 100%;
}

/* 使用伪元素去从第二个兄弟元素以后都加一个左外边距 */
.promo-img:nth-child(n+2){
    margin-left: 15px;
}
/* 内容样式结束 */

/* 主体样式开始 */
.main-img img{
    width: 100%;
    margin: 22px 0;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    height: 58px;
}

.title >h3{
    font-weight: 200;
}

.title a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.icon-xiaojiantou{
    font-size: 20px;
    background-color: #b0b0b0;
    border-radius: 50%;
    margin-left: 8px;
    color: #fff;
    right: 0;
}

.phone-special{
    display: flex;
    justify-content: space-between;
}

.left-side{
    width: 234px;
    /* 禁止缩小图片 */
    flex-shrink: 0; 
}

.left-side>img{
    width: 100%;
}

.phone-list{
    display: flex;
    flex-wrap: wrap;
    /* 允许右侧填充剩余空间 */
    flex-grow: 1
}

.phone-item{
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background-color: #fff;
}

.phone-img{
    width: 160px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.phone-item a{
    display: inline-block;
    width: 100%;
   
}

.phone-img>img{
    width: 100%;

}

.info h3{
    height: 21px;
    font-size: 14px;
    margin:0 10px 2px;
    font-weight: 400;
}

.desc{
    height: 18px;
    font-size: 12px;
    margin: 0 10px 10px;
    color: #b0b0b0;
}

.price{
    font-size: 14px;
    color: #ff6700;
    margin: 0 10px 14px;
}

.num{
    text-decoration: line-through;
  color: #999; /* 可选：灰色文字表示已删除 */
}